	<!-- Footer Area Start  -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-6 md-mb-30">
					<div class="footer-widget">
						<h3>About Us</h3>
						<div class="widget about-info">
							<p>We are a broad-based practice with a reputation for offering excellent quality services to our domestic and international clients. With a background of experienced and dedicated staff, we are committed to delivering exceptional individualized representation and tailored solutions to our clients.</p>
						</div>
						<div class="widget social-icon">
							<ul class="footer-social">
								<li><a href="#"><i class="flaticon-facebook-app-symbol"></i></a>
								</li>
								<li><a href="#"><i class="flaticon-twitter"></i></a>
								</li>
								<li><a href="#"><i class="flaticon-instagram"></i></a>
								</li>
								<li><a href="#"><i class="flaticon-vimeo"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="footer-widget">
						<h3>Recent Posts</h3>
						<div class="widget blog-widget">
							<ul>
							  {% for post in global_vars('posts') %}
								<li>
									<a href="#">
										<img src="{{ asset('site/images/blog_images/' ~ post.featuredImage ) }}" alt="{{post.title}}">
									</a>
									<h4><a href="#">{{post.title|title}}</a></h4>
									<i class="flaticon-date"></i><span>{{post.publicationDate|date('d, M Y')}}</span>
								</li>
							  {% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-6 sm-mt-30 sm-mb-30">
					<div class="footer-widget">
						<h3>Quick Links</h3>
						<div class="widget footer-menu">
							<ul>
								<li><a href="{{path('app_index')}}"><i class="flaticon-double-right-arrows-angles"></i> Home</a>
								</li>
								<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i> About Us</a>
								</li>
								<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i> Services</a>
								</li>
								<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i> Pricing</a>
								</li>
								<li><a href="#"><i class="flaticon-double-right-arrows-angles"></i> Team</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6">
					<div class="footer-widget">
						<h3>Basic Info</h3>
						<div class="widget basic-info">
							<ul>
								<li><i class="flaticon-placeholder"></i> Argwings Kodhek Groove, (next to Markson Suites),</li>
								<li><i class="flaticon-placeholder"></i> Balala Maisonettes, #2 </li>
								<li><i class="flaticon-placeholder"></i> Hurlingham Shopping Centre, Kilimani, Nairobi, Kenya (Parking available).</li>
								<li><i class="flaticon-placeholder"></i> Box 28386-00200, City Square, Nairobi</li>
								<li><i class="flaticon-call"></i> 0768 105556</li>
								<li><i class="flaticon-envelope"></i> enquiries@kimothogithinjilaw.co.ke</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Area End -->
	<!-- Copyright Area Start -->
	<div class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12">
					<div class="copyright-content">
						<p>© {{"now"|date('Y')}}. Kimotho Githinji & Company Advocates</p>
						<p><a style="color:white;" href="https://joeseo.co.ke/seo/services/nairobi">Website built by Joe SEO Agency</a><p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Copyright Area End -->
