{{ form_start(form, {'attr': {'class': 'contact-form', 'action': path('contact_form')}}) }}
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Name', 'type': 'text', 'id': 'contact-name', 'data-constraints': '@Required'}}) }}
    </div>
    <div class="form-group col-md-6">
      {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email', 'type': 'email', 'id': 'contact-email', 'data-constraints': '@Email @Required'}}) }}
    </div>
  </div>
  <div class="form-group">
    {{ form_widget(form.subject, {'attr': {'class': 'form-control', 'placeholder': 'Subject', 'type': 'text', 'id': 'contact-email', 'data-constraints': '@Required'}}) }}
  </div>
  <div class="form-group">
    {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'Message', 'id': 'contact-message', 'rows': '5', 'style': 'min-height:250px;', 'data-constraints': '@Required'}})}}
  </div>
  <button type="submit" class="attoyer-btn">Send Massage</button>
{{ form_end(form) }}
