	<!-- Preloader start -->
	<div class="theme-loader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!-- Preloader end -->
	<!-- Top Bar Start -->
	<div class="top-bar">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-6 col-lg-6 col-md-8">
					<div class="top-left d-i-block">
						<ul>
							<li><a href="#"><i class="flaticon-call"></i></a> 0768 105556</li>
							<li><a href="#"><i class="flaticon-envelope"></i></a> enquiries@kimothogithinjilaw.co.ke</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-4">
					<div class="top-right d-i-block text-right">
						<ul>
							<li><a href="#"><i class="flaticon-facebook-app-symbol"></i></a>
							</li>
							<li><a href="#"><i class="flaticon-twitter"></i></a>
							</li>
							<li><a href="#"><i class="flaticon-linkedin"></i></a>
							</li>
							<li><a href="#"><i class="flaticon-vimeo"></i></a>
							</li>
							<li><a href="#"><i class="flaticon-instagram"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Top Bar End -->
	<!-- Header Menu Start -->
	<div class="header-menu">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-xl-2 col-lg-2 col-md-7">
					<div class="menu-logo">
						<a href="{{path('app_index')}}">
							<img src="{{asset('site/images/' ~ global_vars('seo').logoPath )}}" alt="">
						</a>
					</div>
					<div class="responsive-menu"></div>
				</div>
				<div class="col-xl-9 col-lg-9 col-md-2">
					<div class="main-menu">
						<ul id="mobilemenu">
							<li class="menu-icon"><a href="{{path('app_index')}}">Home</a></li>
							<li class="menu-icon"><a href="{{path('app_page', {'page': 'services' })}}">Services</a></li>
							<li class="menu-icon"><a class="expandable" href="#">Page</a>
								<ul class="submenu">
									<li><a href="{{path('app_page', {'page': 'about' })}}"><i class="flaticon-double-right-arrows-angles"></i> About Us</a>
									</li>
									<li><a href="{{path('app_page', {'page': 'pricing' })}}"><i class="flaticon-double-right-arrows-angles"></i> Pricing</a>
									</li>
									<li><a href="{{path('app_page', {'page': 'faq' })}}"><i class="flaticon-double-right-arrows-angles"></i> FAQ</a>
									</li>
									{# <li><a href="team.html"><i class="flaticon-double-right-arrows-angles"></i> Team</a>
									</li>
									<li><a href="testimonial.html"><i class="flaticon-double-right-arrows-angles"></i> Testimonial</a>
									</li> #}
								</ul>
							</li>
							<li class="menu-icon"><a href="{{path('app_page', {'page': 'blog-articles' })}}">Blog</a>
							</li>
							<li class="menu-icon"><a href="{{path('app_page', {'page': 'contact'})}}">Contact</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-xl-1 col-lg-1 col-md-3">
					<div class="menu-icon">
						<ul class="d-flex">
							<li><span class="search-icon open"><i class="flaticon-search"></i></span>
							</li>
							<li>
								<div class="hamburger-icon"> <i class="flaticon-menu"></i>
								</div>
							</li>
						</ul>
					</div>
					<div class="search-box">
						<form>
							<input type="search" placeholder="Search Here.....">
							<button type="submit"><i class="flaticon-search"></i>
							</button>
						</form> <span class="search-box-icon"><i class="flaticon-close"></i></span>
					</div>
				</div>
			</div>
		</div>
		<!-- Hamburger Menu Start -->
		<div class="hamburger-popup">
			<div class="hamburger-close-btn">	<i class="flaticon-close"></i>
			</div>
			<div class="menu-box">
				<div class="menu-logo">
					<a href="{{path('app_index')}}">
						<img src="{{ asset('site/assets/img/kimothogithinjilaw_logo_light.png') }}" alt="">
					</a>
					<p class="pt-30">We are a broad-based practice with a reputation for offering excellent quality services to our domestic and international clients. With a background of experienced and dedicated staff, we are committed to delivering exceptional individualized representation and tailored solutions to our clients.</p>
				</div>
				<div class="contact-info pt-30">
					<h3 class="mb-25">Contact Info</h3>
					<div class="contact-box"> <i class="flaticon-call"></i>+254 768 105556</div>
					<div class="contact-box">	<i class="flaticon-envelope"></i>enquiries@kimothogithinjilaw.co.ke, kimothogithinjilaw@gmail.com</div>
					<div class="contact-box"> <i class="flaticon-placeholder"></i> Argwings Kodhek Groove, (next to Markson Suites),<br/>
						Balala Maisonettes, #2 <br/>
						Hurlingham Shopping Centre, Kilimani, Nairobi, Kenya (Parking available)
					</div>
				</div>
				<br/><br/>
				<a href="{{path('app_login')}}" class="btn btn-primary">Login</a>
				{# <div class="follow-us pt-30">
					<h3 class="mb-25">Follow Us</h3>
					<div class="widget social-icon d-i-block">
						<ul class="footer-social">
							<li><a href="#"><i class="flaticon-facebook-app-symbol"></i></a>
							</li>
							<li><a href="#"><i class="flaticon-twitter"></i></a>
							</li>
							<li><a href="#"><i class="flaticon-instagram"></i></a>
							</li>
							<li><a href="#"><i class="flaticon-vimeo"></i></a>
							</li>
						</ul>
					</div>
				</div> #}
			</div>
		</div>
		<div class="hamburger-overlay"></div>
		<!-- Hamburger Menu Start -->
	</div>
	<!-- Header Menu End -->