	<!-- About Area Start -->
	<div class="about-area section-padding">
		<div class="bounce-top shape2">
			<img src="{{ asset('site/assets/img/shape/ab-shape-3.png') }}" alt="">
		</div>
		<div class="item-roll shape1">
			<img src="{{ asset('site/assets/img/shape/ab-shape-2.png') }}" alt="">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 md-mb-35">
					<div class="about-left">
						<div class="about-img">
							<img src="{{ asset('site/web_images/' ~ images['about-us'].src ) }}" alt="">
						</div>
						<div class="item-bounce about-shape">
							<img src="{{ asset('site/assets/img/shape/ab-shape-1.png') }}" alt="">
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6">
					<div class="s-table">
						<div class="s-tablec">
							<div class="section-title section-title-right"> <span class="section-top">//  About Us</span>
								<h2>{{ content['about-us-heading'].contentText}}</h2>
								<p class="pt-30 pb-35">{{ content['about-us-text'].contentText}}</p>
								<div class="about-buttom d-sm-flex">
									<div class="about-btn"> <a class="attoyer-btn all-btn mr-100" href="#">{{ content['about-us-action'].contentText}}</a>
									</div>
									<div class="about-signa">
										{# <img src="{{ asset('site/assets/img/signature.png') }}" alt=""> #}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- About Area End -->
