	<!-- Banner Area Start -->
	<div class="banner-area banner-group">
		<div class="single-slider" style="background-image: url({{asset('site/web_images/' ~ images['slider-image'].src ) }})">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12">
						<div class="slider-content"> <span class="section-top">// {{ content['company-name'].contentText}}</span>
							<h1>{{ content['homepage-main-h1'].contentText}}</h1>
							<p>{{ content['main-slide-text'].contentText}}</p>
							<div class="banner-btn"> <a class="attoyer-btn" href="#">{{ content['action-button-slider'].contentText}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="single-slider bg-img" style="background-image: url({{asset('site/web_images/' ~ images['slider-image'].src ) }})">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-12">
						<div class="slider-content"> <span class="section-top">// {{ content['company-name'].contentText}}</span>
							<h2>{{ content['homepage-main-h2'].contentText}}</h2>
							<p>{{ content['second-slider-text'].contentText}}</p>
							<div class="banner-btn"> <a class="attoyer-btn" href="#">{{ content['action-button-slider'].contentText}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Banner Area End -->
