	<!-- Blog Details Start -->
	<div class="blog-details section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-8 md-mb-30">
					<div class="blog-item mb-50">
						<div class="blog-img">
							<img src="{{ asset('site/images/blog_images/' ~ blog_post.featuredImage ) }}" alt="">
						</div>
						<div class="blog-content">
							<h3><a href="#">{{blog_post.title}}</a></h3>
							<ul class="pt-10 pb-20">
								<li><i class="flaticon-user"></i> Posted by <a href="#">{{blog_post.author}}</a>
								</li>
								<li><i class="flaticon-date"></i> {{blog_post.publicationDate|date('d, M Y')}}</li>
								<li><i class="flaticon-comment"></i> 
                                {% for category in blog_post.blogCategories %}
                                    {{ category }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                                </li>
							</ul>
							{{blog_post.content|raw}}
                        </div>
					</div>
					<div class="blog-related">
						<div class="row align-items-center">
							<div class="col-md-7">
								<div class="related-tag">	<span>Related Tags:</span> 
									<ul>
										<li><a href="#">#Law</a>
										</li>
										<li><a href="#">#Family Law</a>
										</li>
										<li><a href="#">#Corporate Law</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-5">
								<div class="related-share">
									<ul>
										<li><a href="#"><i class="flaticon-facebook-app-symbol"></i></a>
										</li>
										<li><a href="#"><i class="flaticon-twitter"></i></a>
										</li>
										<li><a href="#"><i class="flaticon-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					{# <div class="row">
						<div class="col-lg-12">
							<div class="comment-count">
								<h3>03 Comments</h3>
							</div>
							<div class="comment-temp">
								<ul>
									<li>
										<div class="comment-item">
											<div class="comt-user">
												<img src="assets/img/author.jpg" alt="">
											</div>
											<div class="comt-detail">
												<div class="comtuser-name">
													<h3>Mithila Islam</h3>
													<p>25 June, 21</p>	<a class="comt-reply" href="#"><i class="flaticon-reply"></i> Reply</a>
												</div>
												<p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly ize quality intellectual capital without superior collaboration and sharing. Holistically pontificate installed.</p>
											</div>
										</div>
									</li>
									<li class="comt-sub">
										<div class="comment-item">
											<div class="comt-user">
												<img src="assets/img/author2.jpg" alt="">
											</div>
											<div class="comt-detail">
												<div class="comtuser-name">
													<h3>Tahmina Anny</h3>
													<p>27 June, 21</p>	<a class="comt-reply" href="#"><i class="flaticon-reply"></i> Reply</a>
												</div>
												<p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly ize quality intellectual capital.</p>
											</div>
										</div>
									</li>
									<li>
										<div class="comment-item mb-25">
											<div class="comt-user">
												<img src="assets/img/author3.jpg" alt="">
											</div>
											<div class="comt-detail">
												<div class="comtuser-name">
													<h3>Mark Parker</h3>
													<p>30 June, 21</p>	<a class="comt-reply" href="#"><i class="flaticon-reply"></i> Reply</a>
												</div>
												<p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly ize quality intellectual capital without superior collaboration and sharing. Holistically pontificate installed.</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="comment-form-title">
								<h3>Write Your Comment</h3>
							</div>
							<div class="comment-form">
								<form class="form" action="#">
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="name" placeholder="Name" required="required">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="email" name="email" placeholder="Email" required="required">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="website" placeholder="Website Name" required="required">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<input type="text" name="phone" placeholder="Phone Number (Optional)" required="required">
											</div>
										</div>
										<div class="col-lg-12">
											<div class="form-group">
												<textarea name="message" rows="6" placeholder="Your Comment"></textarea>
											</div>
										</div>
										<div class="col-lg-12">
											<button type="submit" class="attoyer-btn all-btn">Send Massage</button>											
										</div>
									</div>
								</form>
							</div>
						</div>
					</div> #}
				</div>
				<div class="col-lg-4">
					<div class="sidebar">
						<div class="side-search side-widget">
							<form class="side-search-box" action="#">
								<input class="form-control" placeholder="Search Now..." type="text">
								<button type="submit" class="search-button"><i class="flaticon-search"></i>
								</button>
							</form>
						</div>
						<div class="side-widget about-me">
							<h3>About Me</h3>
							<img src="assets/img/about-me.jpg" alt="">	<b>{{blog_post.author}}</b>
							<p>{{blog_post.author.about}}</p>
						</div>
						<div class="side-widget blog-cat">
							<h3>Blog Catagories</h3>
							<div class="cat-list">
								<ul>
                                    {% for category in blog_post.blogCategories %}
                                        <li>
                                            <a href="#">{{ category }}</a>
                                        </li>
                                    {% endfor %}									
								</ul>
							</div>
						</div>
						{# <div class="side-widget">
							<h3>Follow Us</h3>
							<div class="follow-social">
								<ul>
									<li><a href="#"><i class="flaticon-facebook-app-symbol"></i></a>
									</li>
									<li><a href="#"><i class="flaticon-twitter"></i></a>
									</li>
									<li><a href="#"><i class="flaticon-linkedin"></i></a>
									</li>
									<li><a href="#"><i class="flaticon-vimeo"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="side-widget">
							<h3>Archive Posts</h3>	
							<div class="blog-archive">
								<ul>
									<li><a href="#"><i class="flaticon-folder"></i> April 2015</a>
									</li>
									<li><a href="#"><i class="flaticon-folder"></i> December 2016</a>
									</li>
									<li><a href="#"><i class="flaticon-folder"></i> September 2017</a>
									</li>
									<li><a href="#"><i class="flaticon-folder"></i> November 2018</a>
									</li>
									<li><a href="#"><i class="flaticon-folder"></i> March 2019</a>
									</li>
									<li><a href="#"><i class="flaticon-folder"></i> January 2020</a>
									</li>
									<li><a href="#"><i class="flaticon-folder"></i> August 2021</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="side-widget bg-newsletter">
							<h3>Get Regular Updates</h3>	
							<div class="newsletter">
								<form class="form" action="#">
									<input type="text" name="name" placeholder="Enter Name">
									<input type="email" name="name" placeholder="Enter Email">
									<button type="submit">Get Newsletter</button>
								</form>
							</div>
						</div>
						<div class="side-widget">
							<h3>Popular Tags</h3>	
							<div class="blog-tags">
								<ul>
									<li><a href="#">Finance</a>
									</li>
									<li><a href="#">tech</a>
									</li>
									<li><a href="#">life</a>
									</li>
									<li><a href="#">life</a>
									</li>
									<li><a href="#">tech</a>
									</li>
									<li><a href="#">inance</a>
									</li>
									<li><a href="#">life</a>
									</li>
									<li><a href="#">Finance</a>
									</li>
									<li><a href="#">tech</a>
									</li>
								</ul>
							</div>
						</div> #}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Blog Single End -->
