	<!-- Blog Area Start -->
	<div class="blog-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12">
					<div class="section-title">	<span class="section-top">//  News & Blog</span>
						<h2>Tips From Kimotho Githinji & Advocates</h2>
					</div>
				</div>
			</div>
			<div class="row">
              {% for blog_post in blog_posts %}
				<div class="col-xl-4 col-lg-4 col-md-6 md-mb-30">
					<div class="blog-item">
						<div class="blog-img">
							<img src="{{ asset('site/images/blog_images/' ~ blog_post.featuredImage ) }}" alt="">
						</div>
						<div class="blog-content">
							<ul>
								<li><i class="flaticon-date"></i> {{blog_post.publicationDate|date('d, M Y') }}</li>
								<li><i class="flaticon-comment"></i> 
                                {% for category in blog_post.blogCategories %}
                                    {{ category }}
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                                </li>
							</ul>
							<h3><a href="{{path('blog_detail', {'slug': blog_post.slug })}}">{{blog_post.title|title}}</a></h3>
							<a href="#">Read Article <i class="flaticon-right-arrow"></i></a>
						</div>
					</div>
				</div>
              {% endfor %}
			</div>
		</div>
	</div>
	<!-- Blog Area End -->
