	<!-- Contact Area Start -->
	<div class="contact-area section-padding">
		<div class="contact-right" style="background-image: url({{asset('site/web_images/' ~ images['consult-us'].src ) }});"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6">
					<div class="section-title-left"> <span class="section-top">//  Free Quote</span>
						<h2 class="mb-60">{{ content['consultation-title'].contentText}}</h2>
						<div class="from-area">
                            {{ render(controller('App\\Controller\\IndexController::renderFooterForm')) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Contact Area End -->
