	<!-- Contact Details Start -->
	<div class="contact-list section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-6 md-mb-30">
					<div class="contact-item">	<i class="flaticon-placeholder"></i>
						<h3 class="pt-20 pb-20">Location</h3>
						<p>Argwings Kodhek Groove</p>
						<p>Hurlingham Shopping Centre, Kilimani</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 sm-mb-30">
					<div class="contact-item">	<i class="flaticon-envelope"></i>
						<h3 class="pt-20 pb-20">Email</h3>
						<p>enquiries@kimothogithinjilaw.co.ke</p>
						<p>kimothogithinjilaw@gmail.com</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6">
					<div class="contact-item">	<i class="flaticon-call"></i>
						<h3 class="pt-20 pb-20">Phone Number</h3>
						<p>254 768 105556</p>
						<p>0768 105556</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Contact Details End -->
