	<!-- Services Area Start -->
	<div class="services-area section-padding">
		<div class="container">
			<div class="row align-items-center">
                {% for service in services %}
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="services-tiem">
                            <div class="services-img">
                                <img src="{{ asset('site/images/page_images/' ~ service.featuredImage ) }}" alt="{{service.heading}}">
                            </div>
                            <div class="services-content">
                                <a href="{{path('app_service', {'service': service.url })}}"><h3 class="pt-20">{{service.heading}}</h3></a>
                                <p class="pb-10 pt-10">{{service.metaDescription}}</p> 
                                <a href="{{path('app_service', {'service': service.url })}}">Read More <i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
			</div>
		</div>
	</div>
	<!-- Services Area End -->
