	{# page for a particular sevice #}
    <!-- Blog Details Start -->
	<div class="blog-details section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-8 col-lg-8 md-mb-30">
					<div class="blog-item mb-50">
						<div class="blog-img">
							<img src="{{asset('site/images/page_images/' ~ page.featuredImage ) }}" alt="">
						</div>
						<div class="blog-content">
							<h2><a href="#">{{page.metaTitle}}</a></h2>
							{{page.pageContent|raw}}
						</div>
					</div>
					<div class="blog-related">
						<div class="row align-items-center">
							<div class="col-md-7">
								<div class="related-tag">	<span>Related Services:</span> 
									<ul>
                                      {% for service in services %}
										<li><a href="{{path('app_service', {'service': service.url})}}">#{{service.heading}}</a>
										</li>
                                      {% endfor %}
									</ul>
								</div>
							</div>
							<div class="col-md-5">
								<div class="related-share">
									<ul>
										<li><a href="#"><i class="flaticon-facebook-app-symbol"></i></a>
										</li>
										<li><a href="#"><i class="flaticon-twitter"></i></a>
										</li>
										<li><a href="#"><i class="flaticon-instagram"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="sidebar">
						<div class="side-search side-widget">
							<form class="side-search-box" action="#">
								<input class="form-control" placeholder="Search Now..." type="text">
								<button type="submit" class="search-button"><i class="flaticon-search"></i>
								</button>
							</form>
						</div>
						<div class="side-widget about-me">
							<h3>About Us</h3>
							<img src="{{asset('site/images/' ~ global_vars('seo').logoPath )}}" alt="">	<b>{{ content['company-name'].contentText}}</b>
							<p>{{ content['about-us-text'].contentText}}</p>
						</div>
						{# <div class="side-widget blog-cat">
							<h3>Blog Catagories</h3>
							<div class="cat-list">
								<ul>
									<li><a href="#">Construction<span>09</span></a>
									</li>
									<li><a href="#">Finance<span>41</span></a>
									</li>
									<li><a href="#">Interior Design<span>05</span></a>
									</li>
									<li><a href="#">Business Managment<span>94</span></a>
									</li>
									<li><a href="#">User Research<span>23</span></a>
									</li>
								</ul>
							</div>
						</div> #}
						{# <div class="side-widget">
							<h3>Follow Us</h3>
							<div class="follow-social">
								<ul>
									<li><a href="#"><i class="flaticon-facebook-app-symbol"></i></a>
									</li>
									<li><a href="#"><i class="flaticon-twitter"></i></a>
									</li>
									<li><a href="#"><i class="flaticon-linkedin"></i></a>
									</li>
									<li><a href="#"><i class="flaticon-vimeo"></i></a>
									</li>
								</ul>
							</div>
						</div> #}
						{# <div class="side-widget">
							<h3>Archive Posts</h3>	
							<div class="blog-archive">
								<ul>
									<li><a href="#"><i class="flaticon-folder"></i> April 2015</a>
									</li>
									<li><a href="#"><i class="flaticon-folder"></i> December 2016</a>
									</li>
									<li><a href="#"><i class="flaticon-folder"></i> September 2017</a>
									</li>
									<li><a href="#"><i class="flaticon-folder"></i> November 2018</a>
									</li>
									<li><a href="#"><i class="flaticon-folder"></i> March 2019</a>
									</li>
									<li><a href="#"><i class="flaticon-folder"></i> January 2020</a>
									</li>
									<li><a href="#"><i class="flaticon-folder"></i> August 2021</a>
									</li>
								</ul>
							</div>
						</div> #}
						{# <div class="side-widget bg-newsletter">
							<h3>Get Regular Updates</h3>	
							<div class="newsletter">
								<form class="form" action="#">
									<input type="text" name="name" placeholder="Enter Name">
									<input type="email" name="name" placeholder="Enter Email">
									<button type="submit">Get Newsletter</button>
								</form>
							</div>
						</div> #}
						{# <div class="side-widget">
							<h3>Popular Tags</h3>	
							<div class="blog-tags">
								<ul>
									<li><a href="#">Finance</a>
									</li>
									<li><a href="#">tech</a>
									</li>
									<li><a href="#">life</a>
									</li>
									<li><a href="#">life</a>
									</li>
									<li><a href="#">tech</a>
									</li>
									<li><a href="#">inance</a>
									</li>
									<li><a href="#">life</a>
									</li>
									<li><a href="#">Finance</a>
									</li>
									<li><a href="#">tech</a>
									</li>
								</ul>
							</div>
						</div> #}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Blog Single End -->
