	<!-- Testimonial Area Start -->
	<div class="testimonial-area section-padding">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-5 col-md-6 sm-mb-30">
					<div class="section-title-left"> <span class="section-top">// Testimonial</span>
						<h2>{{ content['testimonial-title'].contentText}}</h2>
					</div>
				</div>
				<div class="col-xl-8 col-lg-7 col-md-6">
					<div class="testimonial-group">
                      {% for testimonial in testimonials %}
						<div class="testimonial-tiem">
							<div class="testimonial-icon"> <i class="flaticon-straight-quotes"></i>
							</div>
							<p class="pb-30">{{testimonial.content}}</p>
							<div class="client-name d-inline-flex">
								<div class="client-img mr-20">
									<img src="{{ asset('site/images/testimonial_photos/' ~ testimonial.photo ) }}" alt="{{testimonial.name}} Testimonial">
								</div>
								<div class="client-content">
									<h3>{{testimonial.name}}</h3>
									<p>{{testimonial.title}}</p>
								</div>
							</div>
						</div>
                      {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Testimonial Area End -->
