	<!-- Page Banner Start -->
	<div class="page-banner section-padding" style="background-image: url({{asset('site/web_images/' ~ images['slider-image'].src ) }})">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="page-title">
						<h1 class="pb-30">{{title}}</h1>
						<ul>
							<li><a href="#">Home</a>
							</li>
							<li><a href="#">{{title}}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Banner End -->
