	<!-- Why Choose Ua Area Area Start -->
	<div class="why-choose-area section-padding">
		<div class="item-roll choose1">
			<img src="{{ asset('site/assets/img/shape/ab-shape-02.png') }}" alt="">
		</div>
		<div class="item-bounce choose2">
			<img src="{{ asset('site/assets/img/shape/ch-shape-2.png') }}" alt="">
		</div>
		<div class="why-choose-img" style="background-image: url({{asset('site/web_images/' ~ images['why-us'].src ) }});"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-7 col-lg-8">
					<div class="section-title-left"> <span class="section-top">// Why Choose Ua</span>
						<h2 class="mb-55">{{ content['why-us-title'].contentText}}</h2>
						<div class="row">
							<div class="col-lg-6 col-md-6 mb-40">
								<div class="choose-item d-inline-flex">
									<div class="choose-icon"> <i class="flaticon-checked"></i>
									</div>
									<div class="choose-content">
										<h3>{{ content['why-us-top-left-title'].contentText}}</h3>
										<p>{{ content['why-us-top-left-text'].contentText}}</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="choose-item d-inline-flex">
									<div class="choose-icon"> <i class="flaticon-checked"></i>
									</div>
									<div class="choose-content">
										<h3>{{ content['why-us-top-right-title'].contentText}}</h3>
										<p>{{ content['why-us-top-right-text'].contentText}}</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 sm-mt-30 sm-mb-30">
								<div class="choose-item d-inline-flex">
									<div class="choose-icon"> <i class="flaticon-checked"></i>
									</div>
									<div class="choose-content paragraph">
										<h3>{{ content['why-us-bottom-left-title'].contentText}}</h3>
										<p>{{ content['why-us-bottom-left-text'].contentText}}</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="choose-item d-inline-flex">
									<div class="choose-icon"> <i class="flaticon-checked"></i>
									</div>
									<div class="choose-content">
										<h3>{{ content['why-us-bottom-right-title'].contentText}} </h3>
										<p>{{ content['why-us-bottom-right-text'].contentText}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Why Choose Ua Area Area End -->
