<!DOCTYPE html>
<html lang="en">

<head>
	{% set seo = global_vars('seo') %}

	<!-- Start Meta -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="{% block meta_description %}{{seo.metaDescription}}{% endblock %}" />
	<meta name="keywords" content="{{seo.keywords}}" />
	<meta name="author" content="JoeSEO">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Title of Site -->
	<title>{% block meta_title %}{{ seo.metaTitle }}{% endblock %}</title>
	<!-- Favicons -->
	<link rel="icon" type="image/png" href="{{asset('favicon.ico') }}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ asset('site/assets/css/bootstrap.min.css') }}">
	<!-- Fontawesome -->
	<link rel="stylesheet" href="{{ asset('site/assets/css/fontawesome.min.css') }}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{{ asset('site/assets/css/owl.carousel.min.css') }}">
	<!-- Animate CSS -->
	<link rel="stylesheet" href="{{ asset('site/assets/css/animate.css') }}">
	<!-- slicknav -->
	<link rel="stylesheet" href="{{ asset('site/assets/css/slicknav.min.css') }}">
	<!-- Mean menu -->
	<link rel="stylesheet" href="{{ asset('site/assets/css/meanmenu.min.css') }}">
	<!-- Flaticon -->
	<link rel="stylesheet" href="{{ asset('site/assets/fonts/flaticon.css') }}">
	<!-- Space -->
	<link rel="stylesheet" href="{{ asset('site/assets/css/space.css') }}">
	<!-- Default-->
	<link rel="stylesheet" href="{{ asset('site/assets/css/default.css') }}">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ asset('site/style.css') }}">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="{{ asset('site/assets/css/responsive.css') }}">
	<style>
		p {
			margin-bottom:20px;
		}
	</style>
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>

<body>

    {% include ('tmp/header.html.twig') %}
    {% block page %}

    {% endblock %}
    {% include ('tmp/footer.html.twig') %}
	<!-- scroll_up_btn -->
	<div class="scroll-top"> <i class="flaticon-up-arrow"></i>
	</div>
	<!-- scroll_up_btn end -->
	<!-- Main JS -->
	<script src="{{ asset('site/assets/js/jquery-1.12.4.min.js') }}"></script>
	<!-- Bootstrap JS -->
	<script src="{{ asset('site/assets/js/bootstrap.min.js') }}"></script>
	<!-- Popper JS -->
	<script src="{{ asset('site/assets/js/popper.min.js') }}"></script>
	<!-- Carousel -->
	<script src="{{ asset('site/assets/js/owl.carousel.min.js') }}"></script>
	<!-- WOW JS -->
	<script src="{{ asset('site/assets/js/wow.min.js') }}"></script>
	<!-- Counterup -->
	<script src="{{ asset('site/assets/js/jquery.counterup.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ asset('site/assets/js/waypoints.min.js') }}"></script>
	<!-- jquery.slicknav.min -->
	<script src="{{ asset('site/assets/js/jquery.slicknav.min.js') }}"></script>
	<!-- Mean menu -->
	<script src="{{ asset('site/assets/js/jquery.meanmenu.min.js') }}"></script>
	<!-- Custom JS -->
	<script src="{{ asset('site/assets/js/custom.js') }}"></script>
    {% block lower_javascript %}{% endblock %}

</body>

</html>        
